

.navbar-toggler{
  background-color: white;
}
.navbar{
  top: 0px;
  z-index: 100;
  width: 100%;
}
.navbar-custom-bg {
  background-color: none;
}
.navbar-custom-bg-2 {
  background-color: var(--cw-3);
}
.navbar-custom-text{
  color: white;
  font-size: var(--fs-s);
  font-weight: 600;
  transition: 200ms;
  text-shadow: 3px 3px 8px rgb(0, 0, 0);
}
.navbar-custom-float{
  float: right;
}
.navbar-brand .word{
  color: white;
  font-size: var(--fs-s);
  font-weight: 700;
  text-shadow: 3px 3px 8px rgb(0, 0, 0);
}

.navbar-brand:hover{
  color: var(--cw-1);
  text-shadow: 3px 3px 8px rgb(83, 83, 83);
}

.navbar-custom-text:hover{
  color: var(--cw-1);
  text-shadow: 3px 3px 8px rgba(0, 0, 0, 1);
  font-size: var(--fs-s);
}

@media(max-width: 991px){

  .navbar-custom-text{
    background-color: #000000a6;
    width: 100%;
  }
  .navbar-brand img{
    width: 2rem;
    height: 2rem;
  }

  .navbar-toggler{
    width: 2rem;
    height: 2.5rem;
  }
  .navbar-toggler-icon{
    width: 1.2rem;
    height: 1.2rem;
    left: 50%;
    right: 50%;
    transform: translate(-30%, -10%);
  }
}



