<body class="page">
  <div *ngIf="navigated == true">
    <nav class="navbar navbar-expand-lg navbar-custom-bg" style="position: fixed;">
      <div class="container-fluid">
        <a class="navbar-brand" routerLink="/">
          <div class="word">
            <img src="/assets/images/Ico.png" alt="Logo" width="60rem" height="60rem">
            THE LEAF LOUNGE
          </div>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <button class="nav-link navbar-custom-text" routerLink="/plants">SHOP ALL</button>
            <button class="nav-link navbar-custom-text" href="#">ABOUT</button>
            <button class="nav-link navbar-custom-text" href="#">LOG IN</button>
          </div>
        </div>
      </div>
    </nav>
  </div>
  <div *ngIf="navigated == false">
    <nav class="navbar navbar-expand-lg navbar-custom-bg2" style="position: relative;">
      <div class="container-fluid">
        <a class="navbar-brand" routerLink="/">
          <div class="word">
            <img src="/assets/images/Ico.png" alt="Logo" width="60rem" height="60rem">
            THE LEAF LOUNGE
          </div>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <button class="nav-link navbar-custom-text" routerLink="/plants">SHOP ALL</button>
            <button class="nav-link navbar-custom-text" href="#">ABOUT</button>
            <button class="nav-link navbar-custom-text" href="#">LOG IN</button>
          </div>
        </div>
      </div>
    </nav>
  </div>
</body>
