/*=========================================================================================================================================
  +----------------------------------------------------------+
  | DISPLAYS                                                 |
  +----------------------------------------------------------+*/
  .navbar .container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navbar-collapse {
    margin-right: 3rem;
  }
  .navbar-nav {
    display: flex;
    align-items: center;
  }
  .navbar-brand {
    display: flex;
    align-items: center;
  }
  .navbar-custom-bg{
    background-color: none;
  }
  .navbar-custom-bg2{
    background-color: var(--cw-3);
  }
/*=========================================================================================================================================
  +----------------------------------------------------------+
  | BACKGROUND + TOGGLER                                     |
  +----------------------------------------------------------+*/
  .navbar-toggler{
    background-color: var(--cw-1);
  }
  .navbar{
    z-index: 100;
    width: 100%;
  }
/*=========================================================================================================================================
  +----------------------------------------------------------+
  | TEXT                                                     |
  +----------------------------------------------------------+*/
  .navbar-brand{
    color: white;
    font-size: var(--fs-s);
    font-weight: bolder;
    text-shadow: 3px 3px 8px rgb(0, 0, 0);
  }
  .navbar-brand:hover{
    color: var(--cw-1);
    text-shadow: 3px 3px 8px rgb(0, 0, 0);
  }
  .navbar-custom-text{
    color: white;
    font-size: var(--fs-xxs);
    font-weight: bolder;
    transition: 200ms;
    text-shadow: 3px 3px 8px rgb(0, 0, 0);
    transform: translate(0%, -10%);
  }
  .navbar-custom-text:hover{
    color: var(--cw-1);
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 1);
    font-size: var(--fs-xxs);
  }
/*=========================================================================================================================================
  +----------------------------------------------------------+
  | SCREEN CHANGES                                           |
  +----------------------------------------------------------+*/
  @media(max-width: 991px){
    .navbar-custom-text{
      background-color: #000000a6;
      width: 100%;
    }
    .navbar-brand img{
      width: 2rem;
      height: 2rem;
    }
    .navbar-toggler{
      width: 2rem;
      height: 2.5rem;
    }
    .navbar-toggler-icon{
      width: 1.2rem;
      height: 1.2rem;
      left: 50%;
      right: 50%;
      transform: translate(-30%, -10%);
    }
    @media(max-width: 775px){
      .navbar-brand .word{
        font-size: var(--fs-xs);
      }
    }
  }



