body {
  --border-bg-color: #5c734c;
  --background-color:#000000;
  --background-color-dark:#242424;
  --background-color-light:#DDD0C8;
  --text-color: #ffffff;
  --text-color-dark: #323232;
}

* {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.dark-bg{
  background-color: var(--background-color);
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

.navbarImage{
  margin-left: 100px;

}

.brand-name{
  color: var(--text-color);
  margin-left: 10px;
  font-size: 30px;
  font-weight: bolder;
}

.navbar-links a{
  color:  var(--text-color);
  max-width: 64rem;
  font-size: 18px;
  font-weight: bold;
}

.navbar-links button{
  color:  var(--text-color);
  max-width: 64rem;
  font-size: 18px;
  font-weight: bold;
}

.navbar-links a:hover{
    color: #5c734c;
    transition: 0.5s;
}

.navbar-links a.actives{
  color: #5c734c;
    transition: 0.5s;
    font-weight: 700;
}

.navbar-links button:hover{
  color: #5c734c;
  transition: 0.5s;
}

.navbar-links button.actives{
  color: #5c734c;
  transition: 0.5s;
  font-weight: 700;
}
a:hover{
  color: #5c734c;
  transition: 0.5s;
}

.navbar-nav{
  position: absolute;
  right: 15vh;
}
