<body class="page">
  <div *ngIf="navigated">
    <nav class="navbar navbar-expand-lg navbar-custom-bg">
      <div class="container-fluid">
        <a class="navbar-brand" routerLink="/home" (click)="homeClicked()">
          <div class="word">
            <img src="/assets/images/Ico.png" alt="Logo" width="40vh" height="40vh">
            The Leaf Lounge
          </div>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <button class="nav-link navbar-custom-text" routerLink="/plants" (click)="displayPlants()">Shop</button>
            <button class="nav-link navbar-custom-text" href="#">About</button>
            <button class="nav-link navbar-custom-text" href="#">Contact</button>
          </div>
        </div>
      </div>
    </nav>
  </div>
  <div *ngIf="!navigated">
    <nav class="navbar navbar-expand-lg navbar-custom-bg-2">
      <div class="container-fluid">
        <a class="navbar-brand" routerLink="/home" (click)="homeClicked()">
          <div class="word">
            <img src="/assets/images/Ico.png" alt="Logo" width="40vh" height="40vh">
            The Leaf Lounge
          </div>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <button class="nav-link navbar-custom-text" routerLink="/plants" (click)="displayPlants()">Shop</button>
            <button class="nav-link navbar-custom-text" href="#">About</button>
            <button class="nav-link navbar-custom-text" href="#">Contact</button>
          </div>
        </div>
      </div>
    </nav>
  </div>


  <div *ngIf="!navigated" class="contents">
    <section>
      <div class="picture-container">
        <div class="grid-a">
          <img class="front-image" src="/assets/images/hompageIMG_1.png" alt="Your Image">
          <div class="image-overlay">
            Bring the Outdoors in
            <button class="subtext nav-link" routerLink="/plants" (click)="displayPlants()">Shop Now</button>
          </div>

        </div>
        <div class="grid-b">
          <img class="front-image" src="/assets/images/hompageIMG_2.png" alt="Your Image">
          <div class="image-overlay">
            Check Out the Featured Selection!
            <button class="subtext nav-link" routerLink="/plants">Featured</button>
          </div>

        </div>
        <div class="grid-c">
          <img class="front-image" src="/assets/images/hompageIMG_3.png" alt="Your Image">
          <div class="image-overlay">Find the Right Plants For You.</div>
        </div>
      </div>
    </section>
    <section>
      <div class="featured-container1">
        <div class="subject animation">

        </div>
      </div>
    </section>
    <section>
      <div class="featured-container2">
        <div class="animation">

        </div>
      </div>
    </section>
    <section>
      <div class="featured-container3">
        <div class="subject animation">

        </div>
      </div>
    </section>
  </div>
</body>




