body, html {
  --border-bg-color: #5d744c;
  --background-color:#000000;
  --background-color-dark:#242424;
  --background-color-light:#DDD0C8;
  --text-color: #ffffff;
  --text-color-dark: #323232;
  --cw-1: #ffeaa7;
  --cw-2: #5d744c;
  --cw-3: #e7d083;
  --timeline-name: "animation";

  background-color: var(--cw-3);
 max-width: 100%;
 overflow-x: hidden;
}

* {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.contents{
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100vh;
  scroll-snap-type: y proximity;
  scroll-snap-stop: normal;
}

section{
  min-height: 100vh;
  width: 100%;
  scroll-snap-align: start;
}

.navbar-toggler{
  background-color: white;
}

.animation {
  opacity: 0;
  transform: scaleX(0);
  transition: opacity 1.5s ease-in, transform 1.5s ease-in;
}

.animation.play {
  opacity: 1;
  transform: scaleX(1);
}


.navbar{
  position: fixed;
  top: 0px;
  z-index: 100;
  width: 100%;
}

.navbar-custom-bg {
  background-color: #ffffff00;
}
.navbar-custom-bg {
  background-color: #000000;
}
.navbar-custom-text{
  color: white;
  font-size: 21px;
  font-weight: 600;
  transition: 200ms;
}
.navbar-custom-float{
  float: right;
}
.navbar-brand .word{
  color: white;
  font-size: 30px;
  font-weight: 700;
}

.navbar-brand:hover{
  color: var(--cw-1);
  text-shadow: 3px 3px 8px rgb(83, 83, 83);
  font-size: 33px;
}

.navbar-custom-text:hover{
  color: var(--cw-1);
  text-shadow: 3px 3px 8px rgba(0, 0, 0, 1);
  font-size: 22px;
}

.picture-container{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(10, 10vh);
  position: relative;

}

.grid-a {
  position: relative;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 11;
}
.grid-b {
  position: relative;
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 6;
}
.grid-c {
  position: relative;
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 6;
  grid-row-end: 11;
}
.front-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: warpIn 1s ease-in 0s 1 normal both;
}

.image-overlay{
  position: absolute;
  color: var(--text-color);
  font-weight: bold;
  animation: slideInText 0.5s ease-in 0s 1 normal both;
  transform: translate(-50%, -50%);
  text-shadow: 1px 1px 8px rgba(0, 0, 0, 1);
  text-align: left;
}

.grid-a .image-overlay {
  font-size: 5vw;
  left: 50%;
  margin-top: -70vh;
  width: 50vw;
  margin-left: 2vw;
}

.grid-b .image-overlay,.grid-c .image-overlay {
  font-size: 3vw;
  left: 50%;
  margin-top: -35vh;
  width: 50vw;
  margin-left: 2vw;
}

.grid-a .subtext{
  font-size: 3vw;
  margin-top: 3vh;
  width: 50vw;
  left: 50%;
  margin-left: 2vw;
}

.grid-b .subtext{
  font-size: 2vw;
  margin-top: 3vh;
  width: 50vw;
  left: 50%;
  margin-left: 2vw;
}

.subtext{
  position: absolute;
  font-weight: bold;
  color: var(--text-color);
  animation: slideInText 1s ease-in 1s 1 normal both;
  transform: translate(-50%, -50%);
  text-align: left;
  transition: 200ms;
  text-shadow: 1px 1px 8px rgba(0, 0, 0, 1);
}

.subtext:hover{
  color: var(--cw-1);
  font-size: 3vw;
}

.featured-container1{
  padding-top: 1%;
  background-color: black;
  height: 100vh;
}

.featured-container2{
  padding-top: 1%;
  background-color: var(--cw-2);
  height: 100vh;
}

.featured-container3{
  padding-top: 1%;
  background-color: var(--cw-3);
  height: 100vh;
}


@keyframes slideInText{
  from{

    transform: translate(-70%, -50%);
    opacity: 0;
  }

  to{
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}

@keyframes warpIn{
  from{
    opacity: 0;
  }

  to{
    opacity: 1;
  }
}

@media(max-width: 1000px){

  .navbar-custom-text{
    background-color: #000000a6;
    width: 100%;
  }
  .navbar-brand{
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
  }
  .navbar-brand img{
    width: 2.5rem;
    height: 2.5rem;
  }

  .navbar-toggler{
    width: 4rem;
    height: 2.5rem;
  }

  .grid-a .image-overlay {
    font-size: 15vw;
    left: 50%;
    margin-top: -70vh;
    width: 100vw;
    margin-left: 10vw;
  }

  .grid-a .subtext{
    font-size: 10vw;
    left: 50%;
    margin-top: 10vh;
    width: 100vw;
    margin-left: 10vw;
  }

  .grid-a {
    position: relative;
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 11;
  }
  .grid-b {
    opacity: 0;
  }
  .grid-c {
    opacity: 0;
  }
}



