<body *ngIf="selectedPlant == null">
  <app-header></app-header>
  <div class="main-container">

    <div class="search-side-bar">
      <div class="search-content">

      </div>
    </div>
    <div class="plant-list-container" >
      <div class="plant-cards-container">
        <button class="plant-card" *ngFor="let plant of plants" (click)="onSelectPlant(plant)">
          <img class="detail-image"src="assets/images/{{ plant.image }}.png">
          <div class="detail-text">
            <div class="text-container">
              <span class="detail-name">{{ plant.plant_name }}</span>
            </div>
            <div class="text-container">
              <span class="detail-family-name">{{ plant.family_name }}</span>
            </div>
            <div class="text-container">
              <span class="detail-price">${{ plant.price }}/oz</span>
            </div>
          </div>
        </button>
      </div>
    </div>
  </div>
</body>



