* {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


body{
  --border-bg-color: #8d8e91;
  --background-color:#000000;
  --background-color-dark:#242424;
  --background-color-light:#DDD0C8;
  --text-color: #DDD0C8;
  --text-color-dark: #323232;
  background-color:  var(--border-bg-color);
  overflow-x: hidden;
  overflow-y: hidden;
}

.price{
  position: relative;
  font-size: 20px;
}

.plant-card{
  text-align: center;
  background-color: var(--background-color);
  border-style:outset;
  border-color: var(--border-bg-color);
  font-size: 30px;
  width: 100%;
  box-shadow: 15px 20px 10px 0px rgba(0,0,0,0.2);
  font-weight: bold;
  color: var(--text-color);
}

.plant-image{
  width: 100%;
}

.main-container{
  display: grid;
  grid-template-columns: 15% 85%;
}

.search-side-bar{
  border-style: outset;
  border-color: var(--border-bg-color);
  width: 100%;
  height: 100%;
  background-color: var(--background-color-dark);
  margin-top: 5.6%;
}

.search-title{
  text-align: center;
  font-weight: bold;
  color: var(--text-color);
  font-size: 25px;
  background-color: var(--background-color);
}

.plant-card {
  position: relative;
  border-style:outset;
  background-color: var(--background-color);
  border-color: var(--border-bg-color);
  border-width: 3px;
  width: 90%;
  height: 100%;
  box-shadow: 15px 20px 10px 0px rgba(0,0,0,0.2);
  transition: 0.3s;
  font-weight: bold;
  color: var(--text-color);
}

.plant-card:hover {
  height: 101%;
  width: 91%;
  box-shadow: 15px 20px 10px 5px rgba(0,0,0,0.5);
}
.plant-container {
  display: absolute;
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 20px;
  background-color: var(--background-color-dark);
}

.plant-cards-container {

  margin-left: 3%;
  margin-right: auto;
  margin-top: 1%;
  margin-bottom: auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 250px));
  row-gap: 3%;
}

