/*=========================================================================================================================================
  +----------------------------------------------------------+
  | MAIN BODY VARIABLES + BOUNDS SETTINGS                    |
  +----------------------------------------------------------+*/
  body {
    --light-text-color: #ffffff;
    --dark-text-color: #00060b;
    --cw-1: #ffeaa7;
    --cw-2: #5d744c;
    --cw-3: #00060b;
    --cw-4: #5d744c;
    --fs-xl: 3.5rem;
    --fs-lg: 3rem;
    --fs-md: 2.5rem;
    --fs-s:  2rem;
    --fs-xs: 1rem;
    font-family:"Clarkson",Helvetica,sans-serif;
    background-color: var(--light-text-color);
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
  }

/*=========================================================================================================================================
  +----------------------------------------------------------+
  | CONTAINERS                                               |
  +----------------------------------------------------------+*/
  .main-container{
    display: grid;
    background-color: var(--cw-1);
  }
  .plant-cards-container {
    margin-left: 3%;
    margin-right: auto;
    margin-top: 1%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10px, 340px));
    column-gap: 0.8vw;
    row-gap: 0.9vw;

  }
/*=========================================================================================================================================
  +----------------------------------------------------------+
  | CARDS                                                    |
  +----------------------------------------------------------+*/
  .plant-card {
    border-style: none;
    position: relative;
    height: 100%;
    transition: 0.3s;
    font-weight: bold;
    color:  var(--dark-text-color);
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1);
    background-color: var(--cw-4);
  }
  .plant-card:hover {
    box-shadow: 6px 6px 8px 2px rgba(0,0,0,0.5);
  }
/*=========================================================================================================================================
  +----------------------------------------------------------+
  | CARD DETAILS                                             |
  +----------------------------------------------------------+*/
  .detail-image{
    background-color: var(--cw-3);
    width: 100%;
  }
  .detail-text{
    height: 15vh;
    text-align: left;
  }
  .detail-name{
    font-size: var(--fs-s);
    text-transform: uppercase;
  }
  .detail-family-name{
    font-size: var(--fs-xs);
    text-transform: uppercase;
    color: #a3a3a3;
  }
  .detail-price{
    font-size: var(--fs-xs);
  }
