<div class="picture-container">
  <div class="grid-a">
    <img class="grid-images" src="/assets/images/hompageIMG_1.png" alt="Your Image">
    <div class="grid-overlay">
      Where Your Botanical Journey Begins
      <a routerLink="/plants" class="cta">
        <span>Shop</span>
        <svg width="13px" height="10px" viewBox="0 0 13 10">
          <path d="M1,5 L11,5"></path>
          <polyline points="8 1 12 5 8 9"></polyline>
        </svg>
      </a>
    </div>
  </div>
  <div class="grid-b">
    <img class="grid-images" src="/assets/images/hompageIMG_2.png" alt="Your Image">
    <div class="grid-overlay">

    </div>
  </div>
  <div class="grid-c">
    <img class="grid-images" src="/assets/images/hompageIMG_3.png" alt="Your Image">
    <div class="grid-overlay">Check out the Featured Selection Below!</div>
  </div>
</div>
