/*=========================================================================================================================================
  +----------------------------------------------------------+
  | MAIN BODY VARIABLES + BOUNDS SETTINGS                    |
  +----------------------------------------------------------+*/
  body {
    --light-text-color: #ffffff;
    --dark-text-color: #00060b;
    --cw-1: #ffeaa7;
    --cw-2: #5d744c;
    --cw-3: #00060b;
    --cw-4: #98b6f3;
    --cw-5: rgb(218, 148, 148);
    --fs-xl: 3.5rem;
    --fs-lg: 3rem;
    --fs-md: 2.5rem;
    --fs-s:  2rem;
    --fs-xs: 1rem;
    font-family:"Clarkson",Helvetica,sans-serif;
    background-color: #00060b;
  }
.content-container {
  justify-content: space-between;

}
.create-plant-container {
  flex: 5;
}

.plant-list-container {
  overflow-x: auto; /* Allows scrolling if the table is wider than the screen */
}

table {
  width: 100%; /* Full width of the container */
  border-collapse: collapse; /* Neat borders between cells */
}

th, td {
  border: 1px solid #202020; /* Light grey border */
  padding: 0.5rem; /* Padding inside cells */
  max-width: 15rem; /* Adjust as needed */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--light-text-color);
}

th {
  background-color: #818181; /* Light grey background for headers */
  text-align: left; /* Align text to the left */
}
