/*=========================================================================================================================================
  +----------------------------------------------------------+
  | MAIN BODY VARIABLES + BOUNDS SETTINGS                    |
  +----------------------------------------------------------+*/
  body {
    --light-text-color: #ffffff;
    --dark-text-color: #00060b;
    --cw-1: #ffeaa7;
    --cw-2: #5d744c;
    --cw-3: #00060b;
    --cw-4: #4f6340;
    --fs-xl: 4rem;
    --fs-lg: 3rem;
    --fs-md: 2.5rem;
    --fs-s:  2rem;
    --fs-xs: 1.5rem;
    --fs-xxs: 1rem;
    font-weight: 700;
    font-family:"Clarkson",Helvetica,sans-serif;
    background-color: var(--cw-3);
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100svh;
    position: relative;
  }
/*=========================================================================================================================================
  +----------------------------------------------------------+
  | CONTAINERS                                               |
  +----------------------------------------------------------+*/
  .user-background{
    background-image: url('/assets/svg/cart-bg.svg');
    background-size: cover;
    background-repeat: no-repeat;
  }
  .main-container{
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    margin-top: 5rem;
    padding: 1rem;
    border: inset;
    border-color: var(--cw-1);
    border-radius: 4px;
    font-size: var(--fs-md);
    color: white;
    background-color: var(--cw-3);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 80rem;
    max-width: 90%;
    height: 80vh;
  }
  .cart-container {
    font-size: var(--fs-xs);
    padding: 3rem;
    max-height: 60vh;
    overflow-y: auto;
  }
  .cart-item {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border-bottom: 1px solid var(--cw-1);
    padding: 10px 0;
  }
/*=========================================================================================================================================
  +----------------------------------------------------------+
  | ITEMS/DETAILS                                            |
  +----------------------------------------------------------+*/
  .item-image {
    width: 20%;
    height: 20%;
    object-fit: cover;
    margin-right: 15px;
  }
  .item-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
  }
  .item-name {
    font-size: var(--fs-s);
    font-weight: 800;
    margin-top: 1rem;
  }
  .item-quantity {
    font-size: var(--fs-xs);
  }
  .item-price {
    font-size: var(--fs-s);
    text-align: right;
    margin-top: 1rem;
    margin-right: -7rem;
  }
  .cart-total {
    float: right;
    margin-top: 2rem;
    font-size: var(--fs-md);
    font-weight: bold;
    color: var(--cw-1);
  }
  .remove-btn {
    padding: 5px 10px;
    background-color: rgb(141, 40, 40);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
    font-size: var(--fs-xs);
    align-self: flex-end;
    transition: 0.5s;
  }
  .remove-btn:hover{
    background-color: rgb(80, 17, 17);
  }
/*=========================================================================================================================================
  +----------------------------------------------------------+
  | SCROLL BAR                                               |
  +----------------------------------------------------------+*/
  .cart-container::-webkit-scrollbar-track {
    background-color: var(--cw-3);
    border-radius:1rem;
  }
  .cart-container::-webkit-scrollbar-thumb {
    background-color: var(--cw-1);
    border-radius: 1rem;
  }
  .cart-container::-webkit-scrollbar {
    width: 0.5rem;
    background-color: var(--cw-3);
  }
/*=========================================================================================================================================
  +----------------------------------------------------------+
  | MEDIA                                                    |
  +----------------------------------------------------------+*/
  @media(max-width: 800px){
    body{
      --fs-xl: 3rem;
      --fs-lg: 2.5rem;
      --fs-md: 2rem;
      --fs-s:  1.5rem;
      --fs-xs: 1rem;
      --fs-xxs: 0.75rem;
    }

    .item-price {
      margin-right: -5.5rem;
    }
  }

