<body>
  <div class="container">
    <div *ngIf="plant._id !== undefined; else createBlock">
      UPDATE
    </div>
    <ng-template #createBlock>
      CREATE
    </ng-template>
    <form (ngSubmit)="onSubmit()" #updateForm="ngForm">
      <div class="input-container">
        <div class="input" *ngFor="let field of plantFields">
          <label [for]="field.modelProp">{{ field.label }}</label>
          <input *ngIf="field.type !== 'checkbox'" [id]="field.modelProp" type="text" class="form-control"
                 [placeholder]="field.placeholder" required [(ngModel)]="plant[field.modelProp]" [name]="field.modelProp">
          <input *ngIf="field.type === 'checkbox'" [id]="field.modelProp" type="checkbox"
                 [(ngModel)]="plant[field.modelProp]" [name]="field.modelProp">
        </div>
      </div>
      <button type="submit" class="submit" *ngIf="plant._id === undefined">Create</button>
      <button type="button" class="cancel" (click)="clearInputs()">Cancel</button>

    </form>
  </div>
</body>
