<body class="display-background">
  <app-header></app-header>
  <div *ngIf="plant" class="card-container">
    <div class="image-container">
      <img class="plant-image" src="assets/images/{{ plant.image }}.png" alt="{{ plant.plant_name }}">
    </div>
    <div class="details-container">
      <div class="plant-name">{{ plant.plant_name }}</div>
      <div class="scientific-name">{{ plant.scientific_name }} || {{ plant.family_name }}</div>
      <div class="description">{{ plant.plant_description }}</div>
      <div class="price">${{ overallPrice}}</div>
      <div class="cart-actions">
        <button class="quantity-btn" (click)="decreaseQuantity()">-</button>
        <div class="quantity-display">{{ amountToAdd }}</div>
        <button class="quantity-btn" (click)="increaseQuantity()">+</button>
        <button class="add-to-cart-btn" (click)="addToCart(plant, amountToAdd)">Add to Cart</button>
      </div>
    </div>
  </div>
</body>
