/*=========================================================================================================================================
  +----------------------------------------------------------+
  | FEATURED CONTAINERS BOUNDS SETTINGS                      |
  +----------------------------------------------------------+*/
  .header-container{
    position: relative;
  }
  .header-banner{
    width: 100%;
    z-index: -100;
  }
  .header-text{
    position: absolute;

    top: 0%;
    left: 40%;
    color: var(--light-text-color);
    text-shadow: 1px 1px 8px rgba(0, 0, 0, 1);
    font-weight: bolder;
    font-size: 6rem;
  }
  .carousel {
    margin-top: -5rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-mask-image: linear-gradient(90deg,transparent,#fff 30%,#fff 80%,transparent);
  }
  .plants-container{
    display: flex;
    width: 60rem;
    transition: transform 0.5s ease-out;
  }
/*=========================================================================================================================================
  +----------------------------------------------------------+
  | FEATURED PLANT CARDS BOUNDS +  CARDS DETAILS             |
  +----------------------------------------------------------+*/
  .plant-card{
    border: none;
    width: 25rem;
    height: 40rem;
    background-color: var(--cw-3);

  }
  .detail-image{
    width: 100%;
  }
  .detail-text{
    text-align: left;
    font-weight: bolder;
    text-transform: uppercase;
    color: var(--light-text-color);
    height: 100%;
    width: 100%;
    overflow: auto;
  }
  .detail-name{
    font-size:var(--fs-s);
  }
  .detail-family-name{
    font-size: var(--fs-xs);
    letter-spacing: 2.5px;
    color: #a7a7a7;
  }
  .detail-price{
    font-size:var(--fs-xs);
  }
/*=========================================================================================================================================
  +----------------------------------------------------------+
  | FEATURED BUTTONS + BUTTON PRESS CHANGES                  |
  +----------------------------------------------------------+*/
  .center {
    opacity: 1;
  }
  .off-center{
    opacity: 0.3;
  }
  .right-button {
    width: 10svw;
    min-height: 10svh;
    position: absolute;
    cursor: pointer;
    fill: #fff;
    right: 5svw;
    opacity: 0;
  }
  .left-button {
    width: 10svw;
    min-height: 10svh;
    position: absolute;
    cursor: pointer;
    fill: #fff;
    left: 5svw;
    transform: rotate(180deg);
    opacity: 0;
  }
/*=========================================================================================================================================
  +----------------------------------------------------------+
  | SCREEN CHANGES                                           |
  +----------------------------------------------------------+*/
  @media(max-width: 1030px){
    /*some text overflows*/
    .detail-name{
      font-size:var(--fs-xs);
    }
    .detail-family-name{
      font-size: var(--fs-xs);
    }
    .detail-price{
      font-size:var(--fs-xs);
    }
    /*Make buttons appear for phones*/
    @media(max-width: 768px){
      .right-button, .left-button{
        opacity: 1;
      }
    }
  }
