/*=========================================================================================================================================
  +----------------------------------------------------------+
  | HEADER/BANNER + FOOTER TEXT                              |
  +----------------------------------------------------------+*/
  .featured-container{
    margin-top: 5rem;
  }
  .header-container{
    position: relative;
  }
  .header-banner{
    width: 130rem;
    z-index: -100;
  }
  .header-text{
    text-align: center;
    color: var(--light-text-color);
    text-shadow: 1px 1px 8px rgba(0, 0, 0, 1);
    font-weight: bolder;
    font-size: var(--fs-lg);
  }
  .footer-text{
    text-align: center;
    color: var(--light-text-color);
    text-shadow: 1px 1px 8px rgba(0, 0, 0, 1);
    font-weight: bolder;
    font-size: var(--fs-xs);
  }
/*=========================================================================================================================================
  +----------------------------------------------------------+
  | CONTAINERS                                               |
  +----------------------------------------------------------+*/
  .carousel {
    margin-top: 0rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-mask-image: linear-gradient(90deg,transparent,#fff 30%,#fff 80%,transparent);
  }
  .plants-container{
    display: flex;
    width: 60rem;
    transition: transform 0.5s ease-out;
  }
/*=========================================================================================================================================
  +----------------------------------------------------------+
  | CARDS / CARDS DETAILS                                    |
  +----------------------------------------------------------+*/
  .plant-card{
    border: none;
    width: 25rem;
    height: 35rem;
    background-color: rgba(0, 0, 0, 0);
  }
  .detail-image{
    width: 100%;
  }
  .text-container{
    text-align: center;
    font-weight: bolder;
    text-transform: uppercase;
    color: var(--light-text-color);
    height: 100%;
    width: 100%;
    overflow: auto;
  }
  .detail-name{
    font-size:var(--fs-s);
  }
  .detail-family-name{
    font-size: var(--fs-xs);
    letter-spacing: 2.5px;
    color: #a7a7a7;
  }
  .detail-price{
    font-size:var(--fs-xs);
  }
/*=========================================================================================================================================
  +----------------------------------------------------------+
  | PHONE BUTTONS                                            |
  +----------------------------------------------------------+*/
  .center {
    opacity: 1;
  }
  .off-center{
    opacity: 0.3;
  }
  .right-button {
    width: 10svw;
    min-height: 10svh;
    position: absolute;
    cursor: pointer;
    fill: #fff;
    right: 5svw;
    opacity: 0;
  }
  .left-button {
    width: 10svw;
    min-height: 10svh;
    position: absolute;
    cursor: pointer;
    fill: #fff;
    left: 5svw;
    transform: rotate(180deg);
    opacity: 0;
  }
/*=========================================================================================================================================
  +----------------------------------------------------------+
  | SCREEN CHANGES                                           |
  +----------------------------------------------------------+*/
  @media(max-width: 1030px){
    .featured-container{
      margin-top: 5rem;
    }
    .header-text{
      font-size: 4rem;
    }
    /*some text overflows*/
    .detail-name{
      font-size:var(--fs-xs);
    }
    .detail-family-name{
      font-size: var(--fs-xs);
    }
    .detail-price{
      font-size:var(--fs-xs);
    }
    /*Make buttons appear for phones*/
    @media(max-width: 768px){
      .header-text{
        font-size: 3rem;
      }
      .right-button, .left-button{
        opacity: 1;
        width: 4rem;
        height: 4rem;
        top: 20%;
        fill: var(--cw-1)
      }
      .carousel{
        -webkit-mask-image: linear-gradient(90deg,transparent,#fff 0%,#fff 100%,transparent);
      }
      .plant-card{
        width: 20rem;
      }
      .detail-text{
        text-align: center;
      }
    }
  }
