/*=========================================================================================================================================
  +----------------------------------------------------------+
  | MAIN BODY VARIABLES + BOUNDS SETTINGS                    |
  +----------------------------------------------------------+*/
  body {
    --light-text-color: #ffffff;
    --dark-text-color: #00060b;
    --cw-1: #ffeaa7;
    --cw-2: #5d744c;
    --cw-3: #00060b;
    --cw-4: #4f6340;
    --fs-xl: 3.5rem;
    --fs-lg: 3rem;
    --fs-md: 2.5rem;
    --fs-s:  2rem;
    --fs-xs: 1rem;
    font-family:"Clarkson",Helvetica,sans-serif;
    background-color: var(--cw-3);
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100svh;
    scroll-snap-type: y proximity;
  }
  section{

    width: 100svw;
    scroll-snap-align: start;
  }

  @media(max-width: 600px){
    body{
      --fs-xl: 3rem;
      --fs-lg: 2.5rem;
      --fs-md: 2rem;
      --fs-s:  1.5rem;
      --fs-xs: 1rem;
    }
  }
